<template name="openInvitations">
  {{#if hasInvites}}
    <table class="table">
      <thead>
        <tr>
          <th width="5%"></th>
          <th width="53%">Email Address</th>
          <th width="20%" class="text-center">Date Requested</th>
          <th width="20%" class="text-center">Send Invitation</th>
        </tr>
      </thead>
      <tbody>
        {{#each invites}}
        <tr>
          <td class="vertical-align"># {{inviteNumber}}</td>
          <td class="vertical-align">{{email}}</td>
          <td class="text-center vertical-align">{{epochToString requested}}</td>
          <td class="text-center vertical-align"><button type="button" class="btn btn-success send-invite">Invite</button></td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  {{else}}
    <p class="alert alert-warning">No invites have been requested yet.</p>
  {{/if}}
</template>
