<template name="openInvitations">
  {{#if hasInvites}}
    <table class="table">
      <thead>
        <tr>
          <th width="85%">Email Address</th>
          <th width="17%" class="text-center">Send Invitation</th>
        </tr>
      </thead>
      <tbody>
        {{#each invites}}
        <tr>
          <td>{{email}}</td>
          <td class="text-center"><button type="button" class="btn btn-success send-invite">Invite</button></td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  {{else}}
    <p class="alert alert-warning">No invites have been requested yet.</p>
  {{/if}}
</template>
